.navbar-nav {
    border: 1px ridge #000;
    background-color: #fff;
    padding: .4rem;
    display: flex;
    flex-direction: column;
}

.navbar-nav img {
    width: 100%;
}

.navbar-nav p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
}

.nav-item {
  list-style-type: circle;
}

:host {
    border: 2px solid dimgray;
    display: block;
    padding: 20px;
}

